    <!-- BEGIN filler elements -->
    <div class="album"></div>
    <div class="album"></div>
    <div class="album"></div>
    <div class="album"></div>
    <div class="album"></div>
    <div class="album"></div>
    <div class="album"></div>
    <div class="album"></div>
    <div class="album"></div>
    <div class="album"></div>
    <div class="album"></div>
    <div class="album"></div>
    <div class="album"></div>
    <div class="album"></div>
    <div class="album"></div>
    <div class="album"></div>
    <div class="album"></div>
    <div class="album"></div>
    <div class="album"></div>
    <div class="album"></div>
    <!-- END filler elements -->