<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ .Title }}</title>

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/photoswipe.css"> 
  <link rel="stylesheet" href="/css/default-skin/default-skin.css"> 

  <script src="/js/photoswipe.min.js"></script> 
  <script src="/js/photoswipe-ui-default.min.js"></script> 
  <script type="text/javascript" src="/js/justified-layout.js"></script>
  <script type="text/javascript" src="/js/generate-gallery.js"></script>
</head>
<body>